<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymmeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link media="all" rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>

<body>
<div class="container">
    <div class="row">
        <div class="col-4">
            <ul class="list-group">
                <li class="list-group-item"><a href="#link">name</a></li>
                <li class="list-group-item"><a href="#link">name</a></li>
                <li class="list-group-item"><a href="#link">name</a></li>
            </ul>
        </div>
        <div class="col-8">
            <div class="jumbotron">
                <h3 class="display-4">Hello, world!</h3>
                <p>lorem ...</p>
            </div>
        </div>
    </div>
</div>
</body>

</body>
</html>